body{
	}
.headerLogo {
	display: block;
	margin-left: 30px;
	margin-right: auto;
	margin-top: 5%;
	width: 35%;
}
.menu {
	margin-bottom: 15px;
	max-width: 1000px;
    margin: 0 auto;
			}
.menu_section {
	margin-bottom: 5px;
}
.menu_section h3 {
	font-style: bold;
	font-family: 'Amatic SC', cursive;
	font-size: 25px;
	letter-spacing: 2px;
	color: #DEC3AB;
}
.menu_item {
	margin: 0px;
	position: relative;
	font-family: 'Josefin Slab', serif;
}
.menu_item h4 {
	margin-bottom: 0px;
}
.price {
	display: block;
	float: right;
	position: absolute;
	bottom: 0px;
	right: 0;
	font-weight: bold;
}
.description {
	margin-top: 5px;
	font-style: italic;
	font-family: 'Josefin Slab', serif;
	display: inline-block;
	max-width: 50%;
}
hr {
	border: none;
    border-top: 1px dotted black;
    margin-top: -20px;
			}

  h1{ font-family: 'Josefin Slab', serif;}
}